head
  meta(charset='UTF-8')
  title 小幺鸡Mock Server
  link(rel='stylesheet', href='https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet" href='https://unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css')