body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.api-menu {
  height: 50px;
}
.api-container {
  margin-top: 6em;
}
.content {
  width: 80%;
}
#root .el-table__empty-block {
  height:auto;
}